todo.txt

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache


# Virtual environments
venv/
env/
.env/
.venv/

# Packaging
build/
dist/
*.egg-info/
*.egg


# VS Code
.vscode/
#cursor
.cursor

# Logs
*.log

# Local environment variables or secrets
.env
.env.local

.DS_Store
test.db